.partial_refund_form label {
    display: block;
    margin-bottom: 10px;
}

.button_wrapper {
    margin-bottom: 22px;
}

.refund_button_container,
.partial_refund_container {
    display: flex;
    margin: 20px;
}

.refund_amount {
    width: 130px;
    margin-bottom: 20px;
}

.refundBoxContainer {
    margin: 0 30px;
}


span.img_loading_refundButton i.fa.fa-cog.fa-spin.fa-lg {
    vertical-align: -75%;
    padding: 0 10px;
}

span.img_loading_captureButton .capture_Spinner {
    padding: 17px;
}

.action_wrapper {
    margin-top: 15px;
}